{% load static%}
<header>
    <nav>
        <section class=" nav">
            <div class="logo">
                <a href="/">
                    <img src="{% static 'img/1Logo-BIM-Capacitacion-768x432-1.png' %}" alt="soy un logo"></a>
            </div>
            <div class="enlaces-header">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>

                    <li><a href="#">Contacto</a></li> {%if user.is_authenticated %}

                    <li>
                        <form method='POST' action="{% url 'logoutuser'%}">{% csrf_token %}
                            <input type="submit" class="btn " style="float: right;" value="Cerrar Sesion">
                        </form>
                    </li>

                    {%else%}
                    <li><a href="{% url 'loginuser' %}" class="nav-link ">Log In</a></li> {%endif%}
                </ul>
            </div>
            <div class="boton-menu">
                <i class='bx bx-menu'></i>
            </div>
        </section>
    </nav>

</header>