{% extends 'base/base.html' %} {%load static%} {%block content%}
<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="{{post.thumbnail.url}}" alt="..." class="img-fluid"></div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">

                            <div class="category">
                                {%for cat in post.categories.all %}
                                <a href="#">{{cat.title}}</a> {%endfor%}
                            </div>

                        </div>
                        <h1>{{post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="{{post.author.profile_picture.url}}" alt="..." class="img-fluid"></div>
                                <div class="title"><span>{{post.author}}</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i> {{post.timestamp|timesince}}</div>
                                <div class="views"><i class="icon-eye"></i> {{post.view_count}}</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
                            </div>
                        </div>
                        <div class="post-body">
                            {% comment %} AQUI BA EL CONETENIDO DEL RICH TEXT EDITOR {% endcomment %}
                        </div>



                        <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                            {%if previous_obj%}
                            <a href="{%url 'post' previous_obj.id%}" class="prev-post text-left d-flex align-items-center">
                                <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                <div class="text"><strong class="text-primary">Publicacion Anterior </strong>
                                    <h6>{{previous_obj.title|title}}</h6>
                                </div>
                            </a>
                            {%endif%}
                            {%if next_obj %}
                            <a href="{%url 'post' next_obj.id%}" class="next-post text-right d-flex align-items-center justify-content-end">
                                <div class="text"><strong class="text-primary">Siguiente Publicacion</strong>
                                    <h6>{{next_obj.title|title}}</h6>
                                </div>
                                <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                            </a>{%endif%}
                        </div>
                        <div class="post-comments">
                            <header>
                                <h3 class="h6">Post Comments<span class="no-of-comments">({{post.comments.count}})</span></h3>
                            </header>
                            {%for comment in post.get_comments %}
                            <div class="comment">
                                <div class="comment-header d-flex justify-content-between">
                                    <div class="user d-flex align-items-center">
                                        {% if comment.user.member.profile_picture%}
                                        <div class="image"><img src="{{comment.user.member.profile_picture.url}}" alt="lol" class="img-fluid rounded-circle"></div>
                                        {% elif comment.user.author.profile_picture%}
                                        <div class="image"><img src="{{comment.user.author.profile_picture.url}}" alt="lol" class="img-fluid rounded-circle"></div>
                                        {% else %}
                                        <div class="image"><img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle"></div>
                                        {% endif %}
                                        <div class="title"><strong>{{comment.user.username}}</strong><span class="date">{{comment.timestamp|timesince}}</span></div>
                                    </div>
                                </div>
                                <div class="comment-body">
                                    <p>{{comment.content}}</p>
                                </div>
                            </div>
                            {%endfor%}
                        </div>
                        <div class="add-comment">
                            <header>
                                <h3 class="h6">Leave a reply</h3>
                            </header>

                            {%if user.is_authenticated %}
                            <form action="" method="POST" class="commenting-form">{% csrf_token %}
                            {{form}}<br>
                            <button type="submit" class="btn btn-secondary">Submit Comment</button>
                                
                            </form>
                            {%else%}
                            <a href="{%url 'loginuser' %}">Inicia sesion para dejar un comentario :D </a>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </div>
        </main>

    {% include 'base/sidebar.html' with most_recent_post=most_recent_post category_count=category_count%}
    </div>
</div>
{% endblock%}